<footer class="text-center bg-dark-secondary">
  <p>&copy; {{ "now" | date: "%Y" }} The Lizberries. All rights reserved. </p>
  <div class="social-links">
    <a href="https://www.facebook.com/TheLizberries" rel="noopener" target="_blank" title="The Lizberries Facebook">
      <i class="bi-facebook"></i>
    </a>
    <a href="https://www.youtube.com/TheLizberries" rel="noopener" target="_blank" title="The Lizberries YouTube">
      <i class="bi-youtube"></i>
    </a>
    <a href="https://instagram.com/thelizberries" rel="noopener" target="_blank" title="The Lizberries Instagram">
      <i class="bi-instagram"></i>
    </a>
  </div>
</footer>