<header class="blog-header bg-dark-primary">
  <div class="logo">
    <a href="https://www.thelizards.it/lizberries">
      <img src="{{ '/assets/images/The-Lizberries-Logo_small.png' | relative_url }}" alt="Lizberries Logo" width="150">
    </a>
  </div>
  <nav>
    <a href="https://www.thelizards.it/lizberries">Home</a>
    <a href="{{ '/en/' | relative_url }}">Blog</a>
    <a href="https://www.thelizards.it/lizberries/#contactForm">Contact</a>
    <a href="{{ '/' | relative_url }}">Italiano</a>
    <a href="{{ '/en/' | relative_url }}">English</a>
  </nav>
</header>
